:root {
    --primary-color: black;
    --main-color: rgb(110, 110, 255);
    --second-color: rgb(231, 231, 231);
    --text-color-light: rgba(255, 255, 255, 0.74);
    --text-color-medium: rgba(255, 255, 255, 0.589);
    --font-family: "DM Sans", sans-serif;
    --font-size: 14px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--primary-color);
    background-color: rgb(177, 177, 177);
}

.border {
    border-radius: 16px;
    width: fit-content;
    padding: 2px;
    background-color: var(--second-color);
}

.container {
    display: flex;

    align-items: center;
    background-color: var(--main-color);
    width: 1000px;
    height: fit-content;
    border-radius: 15px;
    padding: 5px;
}

.container_left {

    background-color: var(--second-color);
    width: 49%;
    height: fit-content;
    padding: 7px;
    border-radius: 12px;
}

.card_text_wrapper {

    width: auto;
    height: fit-content;
    margin: 0px;
    padding: 15px;
}

.card_list {
    height: fit-content;
    width: 100%;
    margin: 0px 0px 7px 0px;
    padding: 0px;
    border-radius: 9px;
    background-color: var(--main-color);
}

.card_list:hover {
    opacity: 0.7;
}

.card_name {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}

.card_id {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}

.card_info {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}

.app {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.add_wrapper {
    display: flex;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.add_button {
    height: 25px;
    line-height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;

    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;

}

.add_button:hover {
    opacity: 0.7;
}

.remove_button {
    height: 25px;
    line-height: 25px;
    width: 25px;
    margin: 7px;
    font-size: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 999;


}

.card_connect {
    width: fit-content;
    height: fit-content;
}

.remove_button:hover {
    opacity: 0.7;
}

.remove_menu {
    position: relative;
    margin: 0px;
    display: grid;
    width: 100%;
    height: 18px;
    
    grid-column-gap: 50px;
    grid-template-columns: repeat(1, auto);
    justify-content: space-between;
}

.buttons_menu {
    margin: 6px 3px;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(1, auto);
    justify-content: space-between;
}

.description_container {
    float: right;
    width: 100%;
    height: 100%;
    margin: 7px;
    padding: 15px;

    background-color: var(--second-color);
    border-radius: 12px;
}

.description_span {
    font-weight: 600;
    font-size: 15px;
}