:root {
    --primary-color: black;
    --main-color: rgb(110, 110, 255);
    --second-color: rgb(231, 231, 231);
    --text-color-light: rgba(255, 255, 255, 0.74);
    --text-color-medium: rgba(255, 255, 255, 0.589);
    --font-family: "DM Sans", sans-serif;
    --font-size: 16px;
}

body {
    padding: 140px 350px;
    margin: 0px;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--primary-color);
    background-color: rgb(177, 177, 177);
}


.border {
    display: flex;
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    background-color: var(--second-color);
}

.container {
    display: flex;
    background-color: var(--main-color);
    height: fit-content;
    width: auto;
    height: fit-content;
    border-radius: 15px;
    padding: 5px;

}

.container_left {

    background-color: var(--second-color);
    width: 39%;
    height: fit-content;
    padding: 7px;
    border-radius: 12px;
}

.card_text_wrapper {

    width: auto;
    height: fit-content;
    margin: 8px 0px 8px 0px;
    padding: 0px;
}

.card_text_wrapper2 {

    width: auto;
    height: fit-content;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.card_text_wrapper3 {

    width: auto;
    height: fit-content;
    margin: 8px 0px 8px 0px;
    padding: 0px;
}

.card_list {
    height: fit-content;
    width: 100%;
    margin: 0px 0px 7px 0px;
    padding: 15px;
    user-select: none;
    border-radius: 9px;
    background-color: var(--main-color);
}

.card_list:hover {
    opacity: 0.7;
}

.card_list:active {
    opacity: 0.9;
}

.card_name {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}

.card_id {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}

.card_info {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}


button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.add_wrapper {
    display: flex;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.share_button {
    align-items: center;
    justify-content: center;
    height: 25px;
    line-height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    user-select: none;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;

}

.share_button img {
    height: 18px;
    width: 18px;
}

.search_button {
    align-items: center;
    justify-content: center;
    height: 25px;
    line-height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    user-select: none;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;

}

.search_button img {
    height: 14px;
    width: 14px;
}

.add_button {
    height: 25px;
    line-height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    user-select: none;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;

}

.add_button:hover {
    opacity: 0.7;
}

.add_button:active {
    opacity: 0.9;
}

.remove_button {
    height: 25px;
    line-height: 25px;
    width: 25px;
    margin: 7px;
    font-size: 20px;
    user-select: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 9;


}

.remove_button:hover {
    opacity: 0.7;
}

.remove_button:active {
    opacity: 0.9;
}

.card_connect {
    width: fit-content;
    height: fit-content;
}



.remove_menu {
    position: relative;
    margin: 0px;
    display: grid;
    width: 100%;
    height: 18px;

    grid-column-gap: 50px;
    grid-template-columns: repeat(1, auto);
    justify-content: space-between;
}

.buttons_menu {
    margin: 6px 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr 10px 0.1fr;


}

.add_button:nth-child(1) {
    grid-column: 1;
}

.share_button:nth-child(2) {
    grid-column: 3;
}

.search_button:nth-child(3) {
    grid-column: 5;
}

.description_container {
    width: 100%;
    height: fit-content;
    margin: 7px;
    padding: 15px;

    background-color: var(--second-color);
    border-radius: 12px;
}

.description {
    padding: 0;
    margin: 0;
}

.description_span {
    font-weight: 600;
    font-size: 15px;
}

.card_isolate {
    overflow-y: scroll;

    height: 386px;
}

.card_isolate::-webkit-scrollbar {
    display: none;
}

.card_isolate {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.addCard_dialog {
    border: none !important;
    border-radius: calc(5px * 3.74);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0rem;
    max-width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
    outline: none;
}

.form {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2.1rem;
    outline: none;
}

.input_name {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_name::placeholder {
    color: white;
}

.input_name:focus {
    opacity: 0.7;
}

.input_secondName {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    color: white;
    outline: none;
}

.input_secondName::placeholder {
    color: white;
}

.input_secondName:focus {
    opacity: 0.7;
}

.input_age {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    color: white;
    outline: none;
}

.input_age::placeholder {
    color: white;
}

.input_age:focus {
    opacity: 0.7;
}

.input_emp {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    color: white;
    outline: none;
}

.input_emp::placeholder {
    color: white;
}

.input_emp:focus {
    opacity: 0.7;
}

.input_desc {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    color: white;
    outline: none;
}

.input_desc::placeholder {
    color: white;
}

.input_desc:focus {
    opacity: 0.7;
}

.form_button_change {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.form_button_cancel {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

input {
    font-size: 16px;
}

input::placeholder {
    font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dialog_add_buttoms {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 12px 0px 0px 0px;
}

.shareCard_dialog {
    border: none !important;
    border-radius: calc(5px * 3.74);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0rem;
    max-width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
    outline: none;
}

.form_share {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2.1rem;
    outline: none;
}

.input_share {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_share::placeholder {
    color: white;
}

.input_share:focus {
    opacity: 0.7;
}

.form_button_copy {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.form_button_close {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.dialog_share_buttons {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 12px 0 0 0;


}

.form_button_import {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.welcome_h2 {
    text-align: center;
}

.welcome_p {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.form_button_change:active {
    opacity: 0.7;
}

.form_button_cancel:active {
    opacity: 0.7;
}

.share_button:active {
    opacity: 0.9;
}

.share_button:hover {
    opacity: 0.7;
}

.search_button:hover {
    opacity: 0.7;
}

.search_button:active {
    opacity: 0.9;
}



.dialog_search_buttons {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 12px 0px 0px 0px;
}

.searchCard_dialog {
    border: none !important;
    border-radius: calc(5px * 3.74);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0rem;
    max-width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
    outline: none;
}

.form_search {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2.1rem;
    outline: none;
}

.input_search {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_search::placeholder {
    color: white;
}

.input_search:focus {
    opacity: 0.7;
}

.form_button_search {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.form_button_search:active {
    opacity: 0.9;
}

.form_button_search:hover {
    opacity: 0.7;
}

.form_button_search_close {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.form_button_search_close:active {
    opacity: 0.9;
}

.form_button_search_close:hover {
    opacity: 0.7;
}

.change_button {
    height: 25px;
    line-height: 25px;
    width: 25px;
    margin: 7px;
    font-size: 20px;
    user-select: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 9;


}

.change_button img {
    height: 14px;
    width: 14px;
}

.change_button:hover {
    opacity: 0.7;
}

.change_button:active {
    opacity: 0.9;
}

.change_menu {
    position: relative;
    margin: 0px;
    display: grid;
    width: 100%;
    height: 18px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(1, auto);
    justify-content: space-between;
}

.search_button:hover {
    opacity: 0.7;
}

.search_button:active {
    opacity: 0.9;
}



.dialog_change_buttons {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 12px 0px 0px 0px;
}

.changeCard_dialog {
    border: none !important;
    border-radius: calc(5px * 3.74);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0rem;
    max-width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
    outline: none;
}

.form_change {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2.1rem;
    outline: none;
}

.input_name_change {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_name_change::placeholder {
    color: white;
}

.input_name_change:focus {
    opacity: 0.7;
}

.input_secondName_change {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_secondName_change::placeholder {
    color: white;
}

.input_secondName_change:focus {
    opacity: 0.7;
}

.input_age_change {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_age_change::placeholder {
    color: white;
}

.input_age_change:focus {
    opacity: 0.7;
}

.input_emp_change {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_emp_change::placeholder {
    color: white;
}

.input_emp_change:focus {
    opacity: 0.7;
}

.input_desc_change {
    border: none !important;
    border-radius: calc(5px * 3.74);
    background-color: var(--main-color);
    padding: 7px 20px;
    margin: 6px 0px;
    width: fit-content;
    color: white;
    outline: none;
}

.input_desc_change::placeholder {
    color: white;
}

.input_desc_change:focus {
    opacity: 0.7;
}

.form_button_change_update {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.form_button_change_update:active {
    opacity: 0.9;
}

.form_button_change_update:hover {
    opacity: 0.7;
}

.form_button_change_cancel {
    background-color: var(--main-color);
    border-radius: calc(5px * 3.74);
    padding: 5px 10px;
    color: white;
}

.form_button_change_cancel:active {
    opacity: 0.9;
}

.form_button_change_cancel:hover {
    opacity: 0.7;
}

.autocomplete-container {
    position: relative;
    display: inline-block;
}

.autocomplete-results {
    position: absolute;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 99;
    height: 70px;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    /* Or any other suitable max-height */
    overflow-y: auto;
    background-color: white;
    /* Set the background color */
}

.autocomplete-results div {
    padding: 8px;
    cursor: pointer;
    height: fit-content;
    background-color: #fff;
}

.autocomplete-results div:hover {
    background-color: #e9e9e9;
}

.autocomplete-selected {
    background-color: #add8e6 !important;
    /* Light blue, change as desired */
}

.highlight {
    background-color: rgb(0, 119, 255) !important;
    transition: background-color 0.5s ease-in-out;
    background: #0b63bb;
    border: 1px solid #0b63bb;

    box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
    -moz-animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
    }
}
@media screen and (max-width: 1372px) {
    .changeCard_dialog {

        padding: 0rem;
        max-width: 90%;
        background-color: white;
        justify-content: center;
        align-items: center;
        outline: none;
    }

    .form_button_change_update:active {
        opacity: 1;
    }

    .form_button_change_update:hover {
        opacity: 1;
    }

    .form_button_change_cancel:active {
        opacity: 1;
    }

    .form_button_change_cancel:hover {
        opacity: 1;
    }

    .change_button:hover {
        opacity: 1;
    }

    .change_button:active {
        opacity: 1;
    }

    .change_button {
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    .change_button img {
        height: 15px;
        width: 15px;
    }

    .share_button {
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    .share_button img {
        height: 20px;
        width: 20px;
    }

    .share_button:active {
        opacity: 1;
    }

    .share_button:hover {
        opacity: 1;
    }

    .search_button {
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    .search_button img {
        height: 16px;
        width: 16px;
    }

    .search_button:hover {
        opacity: 1;
    }

    .search_button:active {
        opacity: 1;
    }

    .card_list:hover {
        opacity: 1;
    }



    .add_button:hover {
        opacity: 1;
    }



    .remove_button:hover {
        opacity: 1;
    }


    body {
        background-color: var(--main-color);
        padding: 0px;
        margin: 0px;
    }


    .container_left {
        height: fit-content;
        width: 100%;

    }

    .container {
        display: flex;
        background-color: var(--main-color);
        height: fit-content;
        width: auto;
        height: fit-content;
        border-radius: 0px;


    }

    .card_isolate {
        width: 100%;
        height: 592px;
    }

    .searchCard_dialog {

        padding: 0rem;
        max-width: 90%;
        background-color: white;
        justify-content: center;
        align-items: center;
        outline: none;
    }

    .form_button_search:active {
        opacity: 1;
    }

    .form_button_search:hover {
        opacity: 1;
    }

    .addCard_dialog {

        padding: 0rem;
        max-width: 90%;
        background-color: white;
        justify-content: center;
        align-items: center;
        outline: none;
    }

    .add_button {
        height: 30px;
        line-height: 30px;
        width: 30px;
        font-size: 25px;

    }

    .remove_button {
        height: 30px;
        line-height: 30px;
        width: 30px;
        margin: 7px;
        font-size: 25px;


    }

    .form {
        padding: 1.1rem;
    }

    .shareCard_dialog {

        padding: 0rem;
        max-width: 90%;
        background-color: white;
        justify-content: center;
        align-items: center;
        outline: none;
    }

    .form_share {
        padding: 1.1rem;
    }

    .form_button_search_close:active {
        opacity: 1;
    }

    .form_button_search_close:hover {
        opacity: 1;
    }
}